@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/* CardBar.css */
/* Style the .scrollmenu container */
.scrollmenu {
  white-space: nowrap;
  display: flex;
  overflow-x: scroll;
  max-height: 200px; /* Set a fixed max-height for the .scrollmenu */
  width: 100%; /* Optionally, set a width to fill the available horizontal space */
  background-color: rgb(28, 28, 28);
}

/* Style each box */
.card {
  
  background-color:  rgb(28, 28, 28);
  border-right:1px solid #797979;
  display: inline-block;
  position: relative;
  box-sizing: border-box; /* Include border width in width and height */
  padding: 10px;
}

.card h2 {
  text-align: center;
  
  color: #333;
}







.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -60px; /* Adjust this value to control the distance from the image */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext {
  font-size: 11px; /* Adjust the font size as needed */
}

/* Tooltip text - show on hover */
.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Style for the player image */
.player-image {
  /* Add any additional styling for the player image here */
  position: relative;
}